<header>
    <h1>NG-CONFIG Demo</h1>
</header>
<main>
    <div class="action-buttons">
        <button type="button" (click)="reload()">RELOAD</button> <span *ngIf="loading">Loading...</span>
    </div>
    <section>
        <p class="title">
            <code>
                configService.mapType(AppOptions)
            </code>
        </p>
        <p>
            <code>// Output:</code>
        </p>
        <p>
            <code>{{appOptions | json}}</code>
        </p>
    </section>

    <section>
        <p class="title">
            <code>
                configService.mapObject('app:child', childOptions)
            </code>
        </p>
        <p>
            <code>// Output:</code>
        </p>
        <p>
            <code>{{childOptions | json}}</code>
        </p>
    </section>

    <section>
        <p class="title">
            <code>
                configService.getValue('key1')
            </code>
        </p>
        <p>
            <code>// Output:</code>
        </p>
        <p>
            <code>{{key1}}</code>
        </p>
    </section>

</main>
<footer>
    <h2>Repo</h2>
    <a href="https://github.com/DagonMetric/ng-config">DagonMetric/ng-config @GitHub</a>
</footer>
